<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="environments">
      <section name="iphone-7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="iphone-7-plus" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="iphone-8-plus" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="iphone-xs" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="user" value="mohdyahyakhan5" />
    <add key="key" value="B8U7aARxTnxiQ4rQgFV9" />
    <add key="server" value="hub.browserstack.com" />
  </appSettings>
  
  <capabilities>
    <single>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="single_test" />
      <add key="browserstack.debug" value="true" />
      <add key="app" value="bs://17e724c6c71b6174000b41a445cc8bcf5302b09c" />
  </single>
    <local>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="local_test" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
      <add key="app" value="bs://17e724c6c71b6174000b41a445cc8bcf5302b09c" />
      <add key="noReset" value="false" />
      <add key="autoAcceptAlerts" value="true" />
    </local>
    <parallel>
      <add key="build" value="nunit-browserstack" />
      <add key="name" value="parallel_test" />
      <add key="browserstack.debug" value="true" />
      <add key="app" value="bs://hashed-app-id" />
    </parallel>
  </capabilities>

  <environments>
    <iphone-7>
      <add key="device" value="iPhone 7" />
    </iphone-7>
  <iphone-7-plus>
    <add key="device" value="iPhone 7 Plus" />
  </iphone-7-plus>
    <iphone-8-plus>
      <add key="device" value="iPhone 8 Plus" />
      <add key="os_version" value="11" />
    </iphone-8-plus> 
    <iphone-xs>
      <add key="device" value="iPhone XS" />
      <add key="os_version" value="12" />
    </iphone-xs>
  </environments>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
