<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net48" />
  <package id="BrowserStackLocal" version="1.4.0" targetFramework="net48" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net48" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="ExtentReports" version="2.41.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.8.1" targetFramework="net48" />
  <package id="MongoDB.Driver" version="2.8.1" targetFramework="net48" />
  <package id="MongoDB.Driver.Core" version="2.8.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net461" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net48" />
  <package id="Selenium.Support" version="3.12.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="Xamarin.UITest" version="3.0.0" targetFramework="net461" />
</packages>